Repository gregorias/pycodec2-202310: changes, and which lefthook commands are due for each by the changed paths.
All: toml-taplo, yaml-prettier, yapf

toml-taplo:
  tags: style
  run: taplo check {staged_files}

yaml-prettier:
  tags: style
  run: prettier -c {staged_files}

yapf:
  tags: style
  run: yapf -i -r {staged_files} && git add {staged_files}

feat: update
  Pipfile
  Pipfile.lock
  README.md
  lefthook.yml
  pycodec2/__init__.py
  pyproject.toml
  setup.py
Due: toml-taplo, yaml-prettier, yapf

feat: add build workflow
  .github/workflows/build.yml
Due: yaml-prettier

feat: update build
  .github/workflows/build.yml
Due: yaml-prettier

feat: update build
  pyproject.toml
Due: toml-taplo

feat: update build
  .github/workflows/build.yml
  pyproject.toml
Due: toml-taplo, yaml-prettier

fix: update metadata
  pyproject.toml
  setup.py
Due: toml-taplo, yapf

fix: update build
  .github/workflows/build.yml
Due: yaml-prettier

fix: skip pp310
  .github/workflows/build.yml
Due: yaml-prettier

feat: add macOS to build
  .github/workflows/build.yml
Due: yaml-prettier

docs: document why not Windows
  .github/workflows/build.yml
Due: yaml-prettier

Path conditions:
  toml-taplo: any of: *.toml
  yaml-prettier: any of: *.{yml,yaml}
  yapf: any of: *.py
